@{
    ViewData["Title"] = "Index";
}
@model List<List<string>>
<h1>这里Web1,恭喜您登录成功！</h1>
<form action="/Account/Logout" method="POST">
    <input type="submit" value="注销" />
</form>
<table>

    @foreach (var itemList in Model)
    {
        <tr>
            @foreach (var item in itemList)
            {
                <td>@item</td>
            }
        </tr>
    }
</table>